:root {
  --md-primary-fg-color:        #48284A;
  --md-primary-fg-color--light: #48284A;
  --md-primary-fg-color--dark:  #48284A;
}

/*48284A
  --md-primary-fg-color:        #B8292F;
  --md-primary-fg-color--light: #B8292F;
  --md-primary-fg-color--dark:  #B8292F;
*/